# Ignore NodeJS modules directory
node_modules

# Ignore NodeJS logs
npm-debug.log
debug.log

# Ignore package lock
package-lock.json

# Ignore Mac OS X files
.DS_Store

# Ignore Windows files
Thumbs.db

# Webpack build directory
build

# distribution directory
dist

# coverage test directory
coverage
