[submodule "third_party/styleguide"]
	path = third_party/styleguide
	url = https://github.com/google/styleguide
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/glog"]
	path = third_party/glog
	url = https://github.com/google/glog
