@import url(typography.css);

 *, *::after, *::before {
 	-webkit-user-select: none;
 	-webkit-user-drag: none;
 	-webkit-app-region: no-drag;
 	cursor: default;
 }

button:focus,
button:active:focus,
button:active:focus,
button.focus,
button.focus,
button.focus {
  outline: none !important;
}

body {
  margin: 0px;
  -ms-overflow-style: scrollbar;
  -webkit-app-region:drag;
}

.middle-page {
  @extend .font-style-base;
  position: sticky;
  justify-content: center;
  display: flex;
  top: 45%;
}
.home-container {
  padding: 0px;
  margin-left: 0px;
}
.home-sidebar {
  position: sticky;
  top: 48px;
  height: calc(100vh - 48px);
  flex: 0 1 320px;
  -webkit-box-flex: 0;
  border-right: 3px solid rgba(0, 0, 0, 0.125);
  overflow: auto;
  padding: 0px!important;
}

.home-content {
  padding: 0px;
}

.NoteEditor {
  font-family: 'Mali', 'El Messiri', monospace;
  font-size: 15px;
  color: black;
  line-height: 9px;
  cursor: text;
  padding-left: 5px;
  background-color: lightgoldenrodyellow;
  max-height: calc(100vh - 109px);
  min-height: calc(100vh - 109px);
}

/* The toolbar's height changes */
@media (min-width: 1083px) {
  .NoteEditor {
    max-height: calc(100vh - 84px);
    min-height: calc(100vh - 84px);
  }
}

.NoteEditor-toolbar {
  margin-bottom: 0px;
}

.NoteEditor-hidePlaceholder {
  display: none;
}

.noteItem {
  font-family: 'Mali', 'El Messiri', monospace;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Set text cursor to note editor text */
.public-DraftStyleDefault-block,
.public-DraftStyleDefault-block span {
  cursor: text;
}

.settings-bottom-row {
  margin-bottom: 10px;
  margin-top: 15px;
}

.settings-top-row {
  margin-top: 10px;
}
